<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Float</title>
    <link rel="stylesheet" href="./css/Float.css">
</head>
<body>
<div class="float-wrapper">
    <h1>一、实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</h1>
    <div class="content">
        <div class="left">我是左侧30%</div>
        <div class="right">我是右侧70%</div>
    </div>
    <h1>二、实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</h1>
    <div class="content2">
        <div class="left">我是左侧固定宽度</div>
        <div class="right">我是右侧自适应</div>
    </div>
    <h1>三、实现一个两栏布局，右侧固定宽度，左侧根据浏览器宽度进行自适应变化</h1>
    <div class="content3">
        <div class="right">我是右侧固定宽度</div>
        <div class="left">我是左侧自适应</div>
    </div>
    <h1>四、实现一个三栏布局，左侧固定宽度，右侧固定宽度，中间部分宽度随浏览器宽度变化而自适应变化</h1>
    <div class="content4">
        <div class="left">我是左侧固定</div>
        <div class="right">我是右侧固定</div>
        <div class="middle">我是中间自适应</div>
    </div>
    <h1>五、实现一个三栏布局，左侧固定宽度，中间固定宽度，右侧根据浏览器宽度变化而自适应变化</h1>
    <div class="content5">
        <div class="left">我是左侧固定</div>
        <div class="middle">我是中间固定</div>
        <div class="right">我是右侧自适应</div>
    </div>
</div>
</body>
</html>