<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" href="./css/layout.css">
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
</head>
<body>
<div class="layout-wrapper">
    <header class="head-wrap">
        <div class="head-content">
            <div class="logo">Logo</div>
            <ul>
                <li>
                    <a href="https://github.com/summerangel/learning-tasks/tree/master/layout" target="_blank">Github</a>
                </li>
                <li>
                    <a href="http://htmlpreview.github.com/?https://github.com/summerangel/learning-tasks/blob/master/layout/Flexbox.html" target="_blank">Flexbox</a>
                </li>
                <li>
                    <a href="http://htmlpreview.github.com/?https://github.com/summerangel/learning-tasks/blob/master/layout/Float.html" target="_blank">Float</a>
                </li>
                <li>
                    <a href="http://htmlpreview.github.com/?https://github.com/summerangel/learning-tasks/blob/master/layout/Position.html" target="_blank">Position</a>
                </li>
            </ul>
        </div>
    </header>
    <section class="banner-wrap">
        <div class="pagination-wrap">
            <div class="pagination">
                <ul>
                    <li>
                        <a href="javascript:;">4</a>
                    </li>
                    <li>
                        <a href="javascript:;">3</a>
                    </li>
                    <li>
                        <a href="javascript:;">2</a>
                    </li>
                    <li>
                        <a href="javascript:;">1</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-wrap">
        <div class="content">
            <div class="tab">
                <ul>
                    <li>
                        <a href="javascript:;">HOME</a>
                    </li>
                    <li>
                        <a href="javascript:;">PROFILE</a>
                    </li>
                    <li>
                        <a href="javascript:;">ABOUT</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="row-one">
                    <div class="col">This is Content 1</div>
                    <div class="col">Maybe Content 2</div>
                    <div class="col">Content 3</div>
                </div>
                <div class="row-two">
                    <div class="col">Content 4</div>
                    <div class="col">Content 5</div>
                    <div class="col">Content 6</div>
                    <div class="col">Content 7</div>
                </div>
                <div class="row-one">
                    <div class="col">Content 8</div>
                    <div class="col">Content 9</div>
                    <div class="col">Content 10</div>
                </div>
            </div>
        </div>
    </section>
    <footer class="foot-wrap">
        <span>@2018 ife.baidu.com</span>
    </footer>
</div>
</body>
</html>