<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" href="./css/layout.css">
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
</head>
<body>
<div class="layout-wrapper">
    <header class="head-wrap">
        <div class="head-content">
            <div class="logo">Logo</div>
            <ul>
                <li>
                    <a href="">Github</a>
                </li>
                <li>
                    <a href="">Register</a>
                </li>
                <li>
                    <a href="">Login</a>
                </li>
            </ul>
        </div>
    </header>
    <section class="banner-wrap">
        <div class="pagination-wrap">
            <div class="pagination">
                <ul>
                    <li>
                        <a href="javascript:;">4</a>
                    </li>
                    <li>
                        <a href="javascript:;">3</a>
                    </li>
                    <li>
                        <a href="javascript:;">2</a>
                    </li>
                    <li>
                        <a href="javascript:;">1</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content-wrap">

    </section>
</div>
</body>
</html>