.layout-wrapper .head-wrap {
  background-color: black;
  color: #ffffff;
  width: 100%; }
  .layout-wrapper .head-wrap .head-content {
    position: relative;
    text-align: left;
    width: 960px;
    margin: auto; }
    .layout-wrapper .head-wrap .head-content .logo {
      font-size: 18px;
      padding-top: 10px;
      padding-bottom: 10px; }
    .layout-wrapper .head-wrap .head-content > ul {
      position: absolute;
      top: 0;
      right: 0;
      list-style: none; }
      .layout-wrapper .head-wrap .head-content > ul > li {
        float: left; }
        .layout-wrapper .head-wrap .head-content > ul > li > a {
          margin-left: 10px;
          text-decoration: underline;
          color: #ffffff;
          font-size: 14px; }
.layout-wrapper .banner-wrap {
  width: 100%;
  height: 150px;
  background-color: limegreen;
  text-align: center; }
  .layout-wrapper .banner-wrap .pagination-wrap {
    margin: auto;
    width: 960px;
    height: 150px;
    position: relative; }
    .layout-wrapper .banner-wrap .pagination-wrap .pagination {
      position: absolute;
      right: 0;
      bottom: 5px;
      width: 100%; }
      .layout-wrapper .banner-wrap .pagination-wrap .pagination > ul {
        list-style: none; }
        .layout-wrapper .banner-wrap .pagination-wrap .pagination > ul > li {
          float: right; }
          .layout-wrapper .banner-wrap .pagination-wrap .pagination > ul > li > a {
            margin-left: 5px;
            color: #333333;
            background-color: #ffffff;
            opacity: .5;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center; }
            .layout-wrapper .banner-wrap .pagination-wrap .pagination > ul > li > a:hover {
              padding-top: 10px;
              opacity: 1; }
.layout-wrapper .content-wrap {
  width: 100%;
  background-color: #ffffff;
  margin-top: 40px;
  border-top: 1px solid #666666; }
  .layout-wrapper .content-wrap .content {
    width: 960px;
    margin: auto;
    position: relative; }
    .layout-wrapper .content-wrap .content .tab {
      position: absolute;
      top: -37px;
      left: 0;
      height: 30px; }
      .layout-wrapper .content-wrap .content .tab ul {
        list-style: none;
        height: 30px;
        margin: 0;
        padding: 0; }
        .layout-wrapper .content-wrap .content .tab ul > li {
          float: left;
          height: 30px; }
          .layout-wrapper .content-wrap .content .tab ul > li > a {
            display: block;
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #cccccc;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            border: 1px solid #666666;
            border-bottom-width: 0;
            color: #333333;
            text-decoration: none; }
            .layout-wrapper .content-wrap .content .tab ul > li > a:hover {
              background-color: #ffffff;
              margin-bottom: 1px;
              height: 31px;
              text-decoration: none; }
    .layout-wrapper .content-wrap .content .tab-content {
      width: 960px;
      margin: auto; }
      .layout-wrapper .content-wrap .content .tab-content .row-one {
        display: flex;
        margin-top: 5px; }
        .layout-wrapper .content-wrap .content .tab-content .row-one .col {
          margin-right: 5px;
          text-align: center;
          height: 80px;
          line-height: 80px;
          border: 1px solid #666666;
          flex: 1; }
          .layout-wrapper .content-wrap .content .tab-content .row-one .col:last-child {
            margin-right: 0; }
      .layout-wrapper .content-wrap .content .tab-content .row-two {
        display: flex;
        margin-top: 5px; }
        .layout-wrapper .content-wrap .content .tab-content .row-two .col {
          margin-right: 5px;
          text-align: center;
          height: 80px;
          line-height: 80px;
          border: 1px solid #666666;
          flex: 1; }
          .layout-wrapper .content-wrap .content .tab-content .row-two .col:last-child {
            margin-right: 0; }
.layout-wrapper .foot-wrap {
  width: 100%;
  height: 80px;
  background-color: #333333;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0; }

/*# sourceMappingURL=layout.css.map */
